<p style="background-color: aqua">This is the partial for view 1.</p>
<form class="form-horizontal">
    <div class="form-group">
        <label for="firstName" class="col-sm-1 control-label">姓:</label>
        <div class="col-sm-3">
            <input id="firstName" class="form-inline form-control col-sm-2" data-ng-model="student.firstName">
        </div>
    </div>
    <div class="form-group">
        <label for="lastName" class="col-sm-1 control-label">名:</label>
        <div class="col-sm-3">
            <input id="lastName" class="form-inline form-control col-sm-2" data-ng-model="student.lastName">
        </div>
    </div>
    <div class="form-group">
        <label for="fullName" class="col-sm-1 control-label">全名:</label>
        <div class="col-sm-3">
            <p id="fullName" class="form-control" >{{student.fullName()}}</p>
        </div>
    </div>
</form>

<br>
<hr>
<input class="col-sm-1" data-ng-model="num1">
<b class="col-sm-1">+</b>
<input class="col-sm-1" data-ng-model="num2">
<b class="col-sm-1">=</b>
<p class="col-sm-1">{{num1+num2}}</p>
<br>
<hr>
<p>{{str}}</p>



